<!doctype html>
<html class="no-js" lang="">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="csrf-token" content="{{ csrf_token() }}">

		<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

		{% assets "css_core" %}
        	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "css_elements" %}
        	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block local_css %}
		{% endblock %}

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

	</head>

	<body>

		<section class="page-navigation-bar">
		</section>

		{% block page_content %}
		{% endblock %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

		{% assets "js_core" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% block local_js %}
		{% endblock %}

	</body>

</html>