/*--------------------------------------------------------------
1.0 - Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 - Button Dimensions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Base
--------------------------------------------------------------*/
@media -sass-debug-info{filename{}line{font-family:\000038}}
.dashboard-wrapper {
  margin: 40px 50px;
}

@media -sass-debug-info{filename{}line{font-family:\000039}}
.profile-wrapper {
  margin: 0 auto;
  width: 600px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
}

@media -sass-debug-info{filename{}line{font-family:\0000310}}
.profile-content {
  margin: 30px 50px 0 50px;
}

@media -sass-debug-info{filename{}line{font-family:\0000311}}
.profile-foot {
  height: 50px;
}

@media -sass-debug-info{filename{}line{font-family:\0000313}}
.profile-cover {
  width: 100%;
  height: 200px;
  background-color: #ddd;
}

@media -sass-debug-info{filename{}line{font-family:\0000314}}
.profile-cover img.cover {
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\0000315}}
.profile-cover .user-image {
  position: absolute;
  bottom: -30px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 200px;
}

@media -sass-debug-info{filename{}line{font-family:\0000316}}
.profile-cover .user-image img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  border-radius: 200px;
}

/*--------------------------------------------------------------
2.0 - User Profile
--------------------------------------------------------------*/
@media -sass-debug-info{filename{}line{font-family:\0000321}}
.username {
  font-size: 30px;
  font-weight: 700;
  color: #404041;
}

/*--------------------------------------------------------------
3.0 - Credibillity
--------------------------------------------------------------*/
@media -sass-debug-info{filename{}line{font-family:\0000327}}
.credibillity-rating .rating {
  display: inline-block;
  color: #ccc;
}

@media -sass-debug-info{filename{}line{font-family:\0000328}}
.credibillity-rating .rating.active {
  color: #187a51;
}

/*--------------------------------------------------------------
4.0 - About User
--------------------------------------------------------------*/
@media -sass-debug-info{filename{}line{font-family:\0000335}}
.about-user {
  margin-top: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000337}}
.about-user .detail .label {
  float: left;
  width: 60px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #666;
  text-align: right;
}

@media -sass-debug-info{filename{}line{font-family:\0000338}}
.about-user .detail .value {
  margin-left: 80px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: #2b2b2b;
}
