/*--------------------------------------------------------------
1.0 - Colors
--------------------------------------------------------------*/
$color-old-green: #2F8460;
$color-bright-green: #31AA39;
$color-green: #187a51;
$color-blue: #2f7bbd;
$color-red: #FE6965;

/*--------------------------------------------------------------
2.0 - Button Dimensions
--------------------------------------------------------------*/
$button-height: 36px;