/*--------------------------------------------------------------
1.0 - Colors
--------------------------------------------------------------*/
$color-old-green: #2F8460;
$color-green: #187a51;

/*--------------------------------------------------------------
2.0 - Button Dimensions
--------------------------------------------------------------*/
$button-height: 36px;