{% extends "auth_base.html" %}

{% block local_css %}
	{% assets filters="scss", output="gen/directory/directory.css", "css/directory/directory.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}

{% block local_js %}
{% endblock %}

{% block page_content %}
	<section class="directory-wrapper">

		{% for user in users %}
			<a href="/dashboard/{{ user["username"] }}/" class="user-card">
				<div class="card-content">

					<div class="user-cover">
						<img class="cover" src="/cover/{{ user["userid"] }}/">

						<div class="user-image">
							<img class="avatar" src="/pictures/{{ user["userid"] }}/">
						</div>
					</div>

					<div class="user-content">
						<h1 class="username">{{ user["username"] }}</h1>
						<div class="role">{{ user["role"] }}</div>
					</div>

				</div>
			</a>
		{% endfor %}

		<div class="cb"></div>

	</section>
{% endblock %}