@import "../utilities";

/*--------------------------------------------------------------
1.0 - Setup
--------------------------------------------------------------*/
* { position: relative; }
body { font-family: 'Open Sans', sans-serif; }
.circle { border-radius: 1000px; }
.clear-both { clear: both; }

/*--------------------------------------------------------------
2.0 - Buttons
--------------------------------------------------------------*/
button { margin: 0; padding: 0; border: none; background-color: transparent; outline: none; }
a.button { display: inline-block; text-decoration: none; }

.button { cursor: pointer; padding: 0 20px; line-height: $button-height; border-radius: 3px; }
.button { font-size: 12px; font-weight: 700; text-transform: uppercase; }

.button { background-color: #404041; color: #fff; }
.button:hover { background-color: lighten(#404041, 6%); }

.button.blue { background-color: $color-blue; color: #fff; }
.button.blue:hover { background-color: lighten($color-blue, 6%); }

.button.green { background-color: $color-green; color: #fff; }
.button.green:hover { background-color: lighten($color-green, 6%); }

.button.invisible { background-color: transparent; color: #404041; }
.button.invisible:hover { background-color: rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
3.0 - Inputs
--------------------------------------------------------------*/
input[type="text"], input[type="password"] { margin: 0; padding: 0; border: none; box-sizing: border-box; }
input[type="text"], input[type="password"] { height: $button-height; text-indent: 10px; border: 1px solid #ddd; }
input[type="text"], input[type="password"] { outline-color: $color-green; }

/*--------------------------------------------------------------
4.0 - Textarea
--------------------------------------------------------------*/
textarea { margin: 0; padding: 0; border: none; box-sizing: border-box; }
textarea { padding: 6px 6px; border: 1px solid #ddd; }