@import "../utilities";

/*--------------------------------------------------------------
1.0 - Tools
--------------------------------------------------------------*/
* { position: relative; }
.circle { border-radius: 1000px; }
.clear-both { clear: both; }