@import "../utilities";

/*--------------------------------------------------------------
1.0 - Setup
--------------------------------------------------------------*/
* { position: relative; }
body { font-family: 'Open Sans', sans-serif; }
button { font-family: 'Open Sans', sans-serif; }
textarea, input { font-family: 'Open Sans', sans-serif; }
.circle { border-radius: 1000px; }
.clear-both { clear: both; }

/*--------------------------------------------------------------
2.0 - Buttons
--------------------------------------------------------------*/
button { margin: 0; padding: 0; border: none; background-color: transparent; outline: none; }
a.button { display: inline-block; text-decoration: none; }

.button { cursor: pointer; padding: 0 20px; line-height: $button-height; border-radius: 3px; }
.button { font-size: 12px; font-weight: 700; text-transform: uppercase; }

.button { background-color: #404041; color: #fff; }
.button:hover { background-color: lighten(#404041, 6%); }

.button.blue { background-color: $color-blue; color: #fff; }
.button.blue:hover { background-color: lighten($color-blue, 6%); }

.button.green { background-color: $color-green; color: #fff; }
.button.green:hover { background-color: lighten($color-green, 6%); }

.button.invisible { background-color: transparent; color: #404041; }
.button.invisible:hover { background-color: rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
3.0 - Inputs
--------------------------------------------------------------*/
input[type="text"], input[type="password"] { margin: 0; padding: 0; border: none; box-sizing: border-box; }
input[type="text"], input[type="password"] { height: $button-height; text-indent: 10px; border: 1px solid #ddd; }
input[type="text"], input[type="password"] { outline-color: $color-green; }

/*--------------------------------------------------------------
4.0 - Textarea
--------------------------------------------------------------*/
textarea { margin: 0; padding: 0; border: none; box-sizing: border-box; }
textarea { padding: 6px 6px; border: 1px solid #ddd; }

@import "../utilities";

/*--------------------------------------------------------------
5.0 - Table
--------------------------------------------------------------*/
$table-bc: #ddd;

._table { border-radius: 6px; overflow: hidden; font-size: 13px; }
._table { border: 1px solid #ddd; }
._table table { width: 100%; table-layout: fixed; border-collapse: collapse; border-spacing: 0; background-color: #fff; }
._table table thead { border-bottom: 1px solid $table-bc; background-color: $color-blue; }

._table table thead th { padding: 0 15px; height: 46px; font-size: 11px; font-weight: 500; text-align: left; color: #fff; text-transform: uppercase; }
._table table thead th { border-left: 1px solid $table-bc; line-height: 46px; height: auto; font-weight: 700; }
._table table thead th:first-child { border-left: none; }

._table table tbody tr { line-height: 40px; border-bottom: 1px solid $table-bc; }
._table table tbody tr:last-child { border-bottom: none; }

._table table tbody td { padding: 0 15px; font-weight: 400; color: #2b2b2b; }
._table table tbody td { border-left: 1px solid $table-bc; }

._table table tbody td:first-child { border-left: none;  border-radius: 2px 0 0 2px; }
._table table tbody td:last-child { border-radius: 0 2px 2px 0; }

._table table tbody td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

._table table tbody td a { text-decoration: none; }

/* 3.3 - Table options */
._table.dynamic table { table-layout: auto; }

/*--------------------------------------------------------------
6.0 - Select Area
--------------------------------------------------------------*/
$select-height: 34px;
$select-drop: 5px;

._select { display: inline-block; box-sizing: border-box; }
._select { height: $select-height; width: 200px; vertical-align: top; }
._select .select-box { padding: 0 30px 0 10px; height: $select-height; }
._select .select-box { border: 1px solid #ddd; border-radius: 2px; background-color: #fff; }
._select .drop-arrow { position: absolute; top: 0; right: 0; width: 20px; height: 100%; border-left: 1px solid #eee; }
._select .drop-arrow { text-align: center; line-height: $select-height; color: $color-blue; }
._select .current-value { font-size: 12px; line-height: $select-height; color: #555; line-height: $select-height - 2px; }

._select .drop-box { display: none; position: absolute; padding: 3px 0; top: $select-height + $select-drop; left: 0; width: 100%; }
._select .drop-box { max-height: 250px; overflow: auto; }
._select .drop-box { animation-duration: 0.15s; animation-fill-mode: both; }
._select .drop-box { box-sizing: border-box; border-radius: 2px; background-color: #fff; }
._select .drop-box { box-shadow: 0 0 3px rgba(0, 0, 0, .2); }
._select .drop-box .option-group { margin-top: 5px; padding-left: 10px; font-size: 12px; line-height: 24px; font-weight: 600; color: $color-blue; }
._select .drop-box .option-group:first-child { margin-top: 0; }
._select .drop-box .select-item { cursor: pointer; padding-left: 10px; font-size: 12px; line-height: 30px; min-height: 30px; }
._select .drop-box .select-item { border-top: 1px solid #fff; border-bottom: 1px solid #fff; text-align: left; }
._select .drop-box .select-item:hover { background-color: #f5f5f5; }

._select.reverse-drop .drop-box { top: auto; bottom: $select-height + $select-drop; }

._select.show--drop .drop-box { display: block; z-index: 10; }
._select.show--drop .drop-box { animation-name: makemodalvisible; }

._select.reverse-drop .drop-box { animation-name: makemodalvisiblereverse; }