/*--------------------------------------------------------------
1.0 - Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 - Button Dimensions
--------------------------------------------------------------*/
@media -sass-debug-info{filename{}line{font-family:\000033}}
.stickynav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 85px;
  z-index: 100;
  background-color: #FFF;
  opacity: 0.9;
  border-bottom: 1px solid #ddd;
}

@media -sass-debug-info{filename{}line{font-family:\0000317}}
.navcontainer {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000323}}
.logo {
  height: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000327}}
header {
  color: #fff;
  padding: 8.5em 0 6.5em 0;
  height: 650px;
  text-align: center;
  margin-top: 0px;
  overflow: hidden;
}

@media -sass-debug-info{filename{}line{font-family:\0000336}}
.header-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  background-image: url("header_img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom: 1px solid white;
}

@media -sass-debug-info{filename{}line{font-family:\0000356}}
h1 {
  font-size: 90px;
  text-shadow: 2px 2px 6px #187a51;
  font-weight: 600;
}

@media -sass-debug-info{filename{}line{font-family:\0000362}}
span.accent {
  color: #19b5bc;
}

@media -sass-debug-info{filename{}line{font-family:\0000366}}
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

@media -sass-debug-info{filename{}line{font-family:\0000372}}
h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\0000378}}
.main-nav {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 9px;
}

@media -sass-debug-info{filename{}line{font-family:\0000385}}
.main-nav li {
  display: inline;
  margin-right: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000390}}
.main-nav li:last-child {
  margin-right: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\0000394}}
.main-nav li a {
  text-decoration: none;
  color: gray;
}

@media -sass-debug-info{filename{}line{font-family:\0000399}}
.main-nav li:hover a {
  color: #187a51;
}

@media -sass-debug-info{filename{}line{font-family:\00003103}}
.wrapper {
  width: 80%;
  margin: 0 auto;
}

@media -sass-debug-info{filename{}line{font-family:\00003108}}
.gray-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 30px;
}

@media only screen and (max-width: 1100px) {
@media -sass-debug-info{filename{}line{font-family:\00003117}}
  .main-nav {
    display: none;
  }

@media -sass-debug-info{filename{}line{font-family:\00003121}}
  .navcontainer {
    text-align: center;
  }

@media -sass-debug-info{filename{}line{font-family:\00003125}}
  .logo {
    display: inline;
  }

@media -sass-debug-info{filename{}line{font-family:\00003129}}
  h2 {
    font-size: 34px;
  }
}
